{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}
<div class="row">
  <div class="col-5 justify-content-center">
    <h2>Bienvenue sur "AnotherBlog" !</h2>
    <span><i>Un autre blog fait avec Sonata Admin et Fos User !</i></span>
  </div>
</div>

    <div class="row justify-content-center">
        {% for article in pagination %}
              <div class="col-5 col-auto articles">
                <h3>{{ article.title }}</h3>
                <span class="category"><a href="{{ path('get_by_category', {category_name: article.category}) }}">{{article.category}}</a></span>
                <hr>
                <div class="description_article">
                    {{ article.description | truncate(200,true, '...') }}
                    <div class="dates_article">
                      <i>{{ article.dateOc | date("d/m/Y") }}</i>
                    </div>
                </div>
                <div class="link_article">
                  <a href="{{ path('show_article', {article_name: article.title}) }}" class="btn btn-primary" role="button">Lire plus...</a>
                </div>
              </div>
        {% endfor %}
    </div>
    <div class="row justify-content-between">
      <div class="col-2 offset-10">
          {{ knp_pagination_render(pagination) }}
      </div>
    </div>
{% endblock %}
